# macOS
.DS_Store

# TouchDesigner Backup Files.
**/Backup/

# TouchDesigner Cache Files.
*.tdc

# Image Files.
/assets/image/

# Movie Files.
/assets/movie/

# Geo Files.
/assets/geo/

# Channels Files.
/assets/chan/

# Plateau Files.
/_experimental/plateau/
/assets/plateau/

# Output Files.
/output/