# macOS
.DS_Store

# TouchDesigner Backup Files.
**/Backup/

# TouchDesigner Cache Files.
*.tdc

# Image Files.
**/Image/
/assets/image/

# Movie Files.
**/Movie/
/assets/movie/

# Geo Files.
**/Geo/

# Channels Files.
**/Chan/


# Plateau Files.
/_experimental/plateau/
/assets/plateau/
