# macOS
.DS_Store

# TouchDesigner Backup Files.
**/Backup/

# TouchDesigner Cache Files.
*.tdc

# Image Files.
**/Image/

# Movie Files.
**/Movie/

# Geo Files.
**/Geo/

# Channels Files.
**/Chan/


# Plateau Files.
**/plateau/